@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: black;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

nav {
  height: 5rem;
  width: 80vw;
  background-color: rgb(23, 23, 23);
  color: #fff;
  border: 1px solid white;
  display: flex;
  align-items: center;
  border-radius: 3rem;
  margin-top: 2rem;
  padding: 0 2rem 0 2rem;
}

nav > h1 {
  font-weight: 900;
  color: rgb(47, 255, 213);
}

.form-container {
  margin-top: 8rem;
  margin-bottom: 8rem;
  background-color: rgb(23, 23, 23);
  border-radius: 1rem;
  border: 1px solid white;
  width: 50vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 3rem;
}
.form-container > h2 {
  font-size: 0.95rem;
}

.form-container > h1 {
  font-size: 1.95rem;
  color: rgb(47, 255, 213);
  font-weight: 800;
  margin-bottom: 2rem;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
input {
  width: 40vw;
  height: 3rem;
  padding: 1rem 2rem 1rem 2rem;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 0.5rem;
  margin: 1rem 0 1rem 0;
}
input:focus {
  outline: none;
}
button {
  width: 40vw;
  background-color: white;
  height: 3rem;
  color: black;
  margin: 1rem 0 4rem 0;
  border-radius: 0.5rem;
  font-weight: 800;
  /* border: 1px solid rgb(47, 255, 213); */
}

@media screen and (max-width: 600px) {
  nav {
    height: 4.5rem;
    width: 95vw;
    border: 0.5px solid white;
  }

  .form-container {
    margin-top: 3rem;
    border: 0.5px solid white;
    width: 95vw;
    padding-top: 3rem;
  }

  .form-container > h2 {
    padding: 0 0.5rem 1rem 0.5rem;
    text-align: center;
    font-size: 0.8rem;
  }

  .form-container > h1 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  input {
    width: 90vw;
  }
  button {
    width: 90vw;
  }
}
